/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");
/* Import */
/* Variables */
/* Maps */
/* Mixins */
/* Title section */
#title {
  background-color: #EDF4F3;
  /* Navegation bar */
  /* Title text*/
  /* Tittle IMG */
}
#title .container-fluid {
  padding: 3% 15% 7%;
}
#title .main-circle-title-proper, #title .main-circle-title-sec-5, #title .main-circle-title-sec-4, #title .main-circle-title-sec-3, #title .main-circle-title-sec-2, #title .main-circle-title-sec {
  position: absolute;
  opacity: 0.6;
}
#title .main-circle-title-sec {
  bottom: 41%;
  left: 53%;
  height: 85%;
  width: 47%;
}
#title .main-circle-title-sec-2 {
  right: 1%;
  top: 52%;
}
#title .main-circle-title-sec-3 {
  right: 35%;
  top: 60%;
  height: 36%;
  width: 19%;
}
#title .main-circle-title-sec-4 {
  right: 0%;
  top: 55%;
  height: 30%;
  width: 27%;
}
#title .main-circle-title-sec-5 {
  right: 1%;
  top: 66%;
  height: 5%;
  width: 5%;
}
#title nav .navbar-brand {
  font-size: 50px;
  font-weight: bold;
  color: #0F4345;
}
#title nav .text-secundary-color {
  color: #E75042;
}
#title nav .navbar-nav .nav-link.active,
#title nav .navbar-nav .nav-link.show {
  border-bottom: 2px solid #E75042 !important;
}
#title nav #navbarNav {
  padding-left: 50px;
}
#title .main-text-title {
  padding-top: 5%;
}
#title .main-text-title .text-secundary-color {
  color: #E75042;
}
#title .main-text-title .h2-text-primary-color {
  font-size: 27px;
}
#title .main-text-title .p-main-title, #title .main-text-title #mySkills .container-fluid div .p-main-title-p, #mySkills .container-fluid div #title .main-text-title .p-main-title-p {
  padding: 16px 0;
  line-height: 26px;
}
#title .main-text-title .hire-title-button, #title .main-text-title .know-title-button {
  margin: 0% 3% 5% 0;
  border-color: #E75042;
  background-color: #E75042;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#title .main-text-title .hire-title-button:hover, #title .main-text-title .know-title-button:hover {
  background-color: rgba(231, 80, 66, 0.8);
  border-color: rgba(231, 80, 66, 0.8);
}
#title .main-text-title .know-title-button {
  color: #E75042;
  background-color: white;
}
#title .main-text-title .know-title-button:hover {
  border-color: rgba(231, 80, 66, 0.8);
  color: rgba(231, 80, 66, 0.8);
  background-color: white;
}
#title div .tittle-img {
  width: 26%;
  position: absolute;
  right: 17%;
  display: flex;
}

/* My Skills */
#mySkills {
  background-color: #fff;
  position: relative;
  z-index: 1;
}
#mySkills .container-fluid {
  padding: 3% 15% 3%;
}
#mySkills .container-fluid div div .my-skills-card {
  scale: 0.7;
  opacity: 0;
  animation: fade-in linear forwards;
  animation-timeline: view();
  animation-range: entry;
  text-align: center;
  margin: 1%;
  transition: all 1s;
  color: #0F4345;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#mySkills .container-fluid div div .my-skills-card:hover {
  background-color: rgba(15, 67, 69, 0.8);
  color: white;
}
#mySkills .container-fluid div div .ico-skills {
  color: #0F4345;
}
#mySkills .container-fluid div div .card-margin-top {
  margin: 40px 0;
}
#mySkills .container-fluid div div .card-footer-max-text {
  font-size: 20px;
  font-weight: 900;
}
#mySkills .container-fluid div .skills-container-main-text, #mySkills #myWorkingExperience .container-fluid div .row-container-workingExp .skills-container-main-text1, #myWorkingExperience #mySkills .container-fluid div .row-container-workingExp .skills-container-main-text1, #mySkills #myWorkingExperience .container-fluid .row-container-workingExp div .skills-container-main-text1, #myWorkingExperience #mySkills .container-fluid .row-container-workingExp div .skills-container-main-text1 {
  padding: 7% 0 7% 7%;
  display: flex;
  justify-content: left;
  flex-direction: column;
}
#mySkills .container-fluid div .text-secundary-color {
  color: #E75042;
  font-size: 2rem;
}
#mySkills .container-fluid div .h2-descrp-text {
  font-size: 20px;
}
#mySkills .container-fluid div .p-main-title, #mySkills .container-fluid div .p-main-title-p {
  padding: 10px 0 0;
  line-height: 26px;
}
#mySkills .container-fluid div .hire-title-button, #mySkills .container-fluid div #title .main-text-title .know-title-button, #title .main-text-title #mySkills .container-fluid div .know-title-button {
  margin: 5% 3% 5% 0;
  border-color: #E75042;
  background-color: #E75042;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 150px;
}
#mySkills .container-fluid div .hire-title-button:hover, #mySkills .container-fluid div #title .main-text-title .know-title-button:hover, #title .main-text-title #mySkills .container-fluid div .know-title-button:hover {
  background-color: rgba(231, 80, 66, 0.8);
  border-color: rgba(231, 80, 66, 0.8);
}
#mySkills .container-fluid div .p-main-title-p {
  margin: 12% 0 0;
}
#mySkills .container-fluid div .p-main-title-p .p-main-title-name {
  font-family: "Alex Brush", cursive;
  font-size: 35px;
  padding: 10px 0 0;
}

/* My latest projects */
#projects {
  text-align: center;
  background-color: #E75042;
  color: #fff;
}
#projects .container-fluid {
  padding: 3% 15% 3%;
}
#projects .container-fluid div .h2-main-title {
  margin-bottom: 20px;
}
#projects .container-fluid div .ele-feature-projects {
  padding: 0.6%;
}
#projects .container-fluid div .ele-feature-projects .projects-main-card {
  scale: 0.7;
  opacity: 0;
  animation: fade-in linear forwards;
  animation-timeline: view();
  animation-range: entry;
  padding: 7%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #F9F9F9;
}
#projects .container-fluid div .ele-feature-projects .projects-main-card .h6-card-text {
  padding-bottom: 5%;
  font-size: 14px;
}
#projects .container-fluid div .ele-feature-projects .projects-main-card .p-card-text {
  padding: 5% 0%;
}
#projects .container-fluid div .ele-feature-projects .projects-main-card .card-img-top-projects {
  border-radius: 6px;
}
#projects .container-fluid div .ele-feature-projects .projects-main-card .btn-skills-set {
  background: #FFFFFF;
  border: 1px solid #D4D3D3;
  border-radius: 25px;
  font-size: 12px;
  padding: 0.5% 5%;
}
#projects .container-fluid div .ele-feature-projects .projects-main-card .btn-skills-set:hover {
  background: #0F4345;
  color: #FFFFFF;
}

/* My Customers */
#customer {
  text-align: center;
  background-color: #fff;
  color: #0F4345;
}
#customer .container-fluid {
  padding: 3% 15% 7%;
}
#customer .container-fluid .h2-main-title {
  margin-bottom: 20px;
}
#customer .container-fluid div div .card-img-top-customer {
  scale: 0.7;
  opacity: 0;
  animation: fade-in linear forwards;
  animation-timeline: view();
  animation-range: entry;
  filter: grayscale(100%);
  width: 90%;
  margin: 5%;
}

@keyframes fade-in {
  to {
    scale: 1;
    opacity: 1;
  }
}
#title .container-fluid-about {
  padding: 3% 15% 3%;
}
#title .container-fluid-about .main-title-img-container {
  padding: 5% 0 0;
}
#title .container-fluid-about .main-title-img-container .main-img-title-about {
  text-align: center;
}
#title .container-fluid-about .main-title-img-container .main-img-title-about .tittle-img-about {
  width: 75%;
}
#title .container-fluid-about .main-title-img-container .main-text-title-about {
  text-align: start;
  padding-top: 5%;
}
#title .container-fluid-about .main-title-img-container .main-text-title-about .text-secundary-color {
  color: #E75042;
}
#title .container-fluid-about .main-title-img-container .main-text-title-about .h2-text-primary-color {
  font-size: 27px;
}
#title .container-fluid-about .main-title-img-container .main-text-title-about .p-main-title, #title .container-fluid-about .main-title-img-container .main-text-title-about #mySkills .container-fluid div .p-main-title-p, #mySkills .container-fluid div #title .container-fluid-about .main-title-img-container .main-text-title-about .p-main-title-p {
  padding: 16px 0;
  line-height: 26px;
}

#mySkills .container-fluid-about {
  padding: 3% 15% 3%;
}
#mySkills .container-fluid-about div .h2-main-title {
  text-align: center;
  color: #E75042;
  padding-bottom: 3%;
}
#mySkills .container-fluid-about div div .card-myskills-about-main {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #0F4345;
  border-color: #0F4345;
  color: white;
}
#mySkills .container-fluid-about div div .card-myskills-about-main div .card-title-bigtext {
  font-size: 47px;
  font-weight: 800;
  padding: 10% 20% 0%;
}
#mySkills .container-fluid-about div div .card-myskills-about-main div .card-p-bigtext {
  font-size: 23px;
  padding: 0% 20% 6%;
}
#mySkills .container-fluid-about div div .card-myskills-about {
  color: #0F4345;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  scale: 0.7;
  opacity: 0;
  animation: fade-in linear forwards;
  animation-timeline: view();
  animation-range: entry;
}

#myExperinceSkills .container-fluid-about {
  padding: 3% 15% 3%;
}
#myExperinceSkills .container-fluid-about div div .h2-main-title {
  color: #E75042;
  padding-bottom: 5%;
}
#myExperinceSkills .container-fluid-about div div div .working-experience-year-text, #myExperinceSkills .container-fluid-about div div div .working-experience-title-text {
  padding-top: 5px;
  font-weight: 700;
}
#myExperinceSkills .container-fluid-about div div div .working-experience-title-text {
  padding-top: 0%;
}
#myExperinceSkills .container-fluid-about div div div .working-experience-svg {
  position: relative;
  left: 101%;
  bottom: 18%;
}
#myExperinceSkills .container-fluid-about div div div .working-experience-p-text {
  width: 65%;
  border-left: solid #0F4345 1px;
  padding: 5px 5px 5px 20px;
}
#myExperinceSkills .container-fluid-about div .div-technical-skills {
  margin-bottom: 5%;
}
#myExperinceSkills .container-fluid-about div .div-technical-skills .div-progress-bar-skills {
  margin-bottom: 5%;
}
#myExperinceSkills .container-fluid-about div .div-technical-skills .div-progress-bar-skills .progress-bar-skills {
  background-color: #D9D9D9;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#myExperinceSkills .container-fluid-about div .div-technical-skills .div-progress-bar-skills .progress-bar-skills .progress-bar-skills-in, #myExperinceSkills .container-fluid-about div .div-technical-skills .div-progress-bar-skills .progress-bar-skills .progress-bar-skills-in4, #myExperinceSkills .container-fluid-about div .div-technical-skills .div-progress-bar-skills .progress-bar-skills .progress-bar-skills-in3, #myExperinceSkills .container-fluid-about div .div-technical-skills .div-progress-bar-skills .progress-bar-skills .progress-bar-skills-in2, #myExperinceSkills .container-fluid-about div .div-technical-skills .div-progress-bar-skills .progress-bar-skills .progress-bar-skills-in1 {
  background-color: #E75042;
  height: 24px;
  width: 70%;
  border-radius: 20px;
}
#myExperinceSkills .container-fluid-about div .div-technical-skills .div-progress-bar-skills .progress-bar-skills .progress-bar-skills-in1 {
  width: 40%;
}
#myExperinceSkills .container-fluid-about div .div-technical-skills .div-progress-bar-skills .progress-bar-skills .progress-bar-skills-in2 {
  width: 100%;
}
#myExperinceSkills .container-fluid-about div .div-technical-skills .div-progress-bar-skills .progress-bar-skills .progress-bar-skills-in3 {
  width: 75%;
}
#myExperinceSkills .container-fluid-about div .div-technical-skills .div-progress-bar-skills .progress-bar-skills .progress-bar-skills-in4 {
  width: 65%;
}

/* Animations */
@keyframes fade-in {
  to {
    scale: 1;
    opacity: 1;
  }
}
/* Media query breakpoints */
@media (max-width: 1000px) {
  #title .container-fluid-about .main-title-img-container .main-img-title-about .tittle-img-about {
    width: 100%;
  }
}
#myWorkingExperience .container-fluid {
  padding: 3% 15% 3%;
}
#myWorkingExperience .container-fluid .row-container-workingExp {
  margin-bottom: 3%;
}
#myWorkingExperience .container-fluid .row-container-workingExp .img-working-experience {
  display: flex;
  justify-content: left;
  flex-direction: column;
}
#myWorkingExperience .container-fluid .row-container-workingExp .img-working-experience {
  width: 95%;
  border-radius: 6px;
  margin-bottom: 10%;
  scale: 0.7;
  opacity: 0;
  animation: fade-in linear forwards;
  animation-timeline: view();
  animation-range: entry;
}
#myWorkingExperience .container-fluid .row-container-workingExp .skills-container-main-text, #myWorkingExperience .container-fluid .row-container-workingExp .skills-container-main-text1 {
  padding: 0% 0 4% 12px;
  display: flex;
  justify-content: left;
  flex-direction: column;
}
#myWorkingExperience .container-fluid .row-container-workingExp .skills-container-main-text1 {
  padding: 0% 4% 4% 12px;
}
#myWorkingExperience .container-fluid .row-container-workingExp .text-secundary-color {
  color: #E75042;
  font-size: 2rem;
}
#myWorkingExperience .container-fluid .row-container-workingExp .h2-descrp-text {
  font-size: 20px;
}
#myWorkingExperience .container-fluid .row-container-workingExp .p-main-title, #myWorkingExperience #mySkills .container-fluid .row-container-workingExp div .p-main-title-p, #mySkills #myWorkingExperience .container-fluid .row-container-workingExp div .p-main-title-p, #myWorkingExperience #mySkills .container-fluid div .row-container-workingExp .p-main-title-p, #mySkills #myWorkingExperience .container-fluid div .row-container-workingExp .p-main-title-p {
  padding: 10px 0 0;
  line-height: 26px;
}

/* Animations */
@keyframes fade-in {
  to {
    scale: 1;
    opacity: 1;
  }
}
/* Media query breakpoints */
@media (max-width: 1000px) {
  #myWorkingExperience .container-fluid .row-container-workingExp {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  #myWorkingExperience .container-fluid .row-container-workingExp .img-working-experience {
    order: 1;
  }
  #myWorkingExperience .container-fluid .row-container-workingExp .skills-container-main-text1 {
    order: 2;
  }
}
#mySevices .container-fluid-services {
  padding: 3% 15% 3%;
}
#mySevices .container-fluid-services div .h2-main-title {
  text-align: center;
  color: #E75042;
  padding-bottom: 3%;
}
#mySevices .container-fluid-services div div .card-myskills-about-main {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #0F4345;
  border-color: #0F4345;
  color: white;
}
#mySevices .container-fluid-services div div .card-myskills-about-main div .card-title-bigtext {
  font-size: 47px;
  font-weight: 800;
  padding: 10% 20% 0%;
}
#mySevices .container-fluid-services div div .card-myskills-about-main div .card-p-bigtext {
  font-size: 23px;
  padding: 0% 20% 6%;
}
#mySevices .container-fluid-services div div .card-myskills-about {
  color: #0F4345;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  scale: 0.7;
  opacity: 0;
  animation: fade-in linear forwards;
  animation-timeline: view();
  animation-range: entry;
}

#industries .container-fluid-industries {
  padding: 3% 15% 3%;
}
#industries .container-fluid-industries div .h2-main-title {
  text-align: center;
  color: #E75042;
  padding-bottom: 3%;
}

/* My links */
#links {
  text-align: left;
  background-color: #0F4345;
  color: #fff;
}
#links .container-fluid {
  padding: 3% 15% 7%;
}
#links .container-fluid div div .list-items-links {
  padding: 0;
  margin: 0;
}
#links .container-fluid div div .list-items-links ul .list-items-links-sub {
  font-weight: 100;
}
#links .container-fluid div .words-in-links {
  padding: 3% 0 0 23%;
}
#links .container-fluid div .words-in-links .text-secundary-color {
  color: #E75042;
}
#links .container-fluid div .words-in-links .hire-title-button-links {
  margin: 3% 3% 5% 0;
  border-color: #E75042;
  background-color: #E75042;
  border-radius: 5px;
  width: 180px;
  font-size: 30px;
}
#links .container-fluid div .words-in-links .hire-title-button-links:hover {
  background-color: rgba(231, 80, 66, 0.8);
  border-color: rgba(231, 80, 66, 0.8);
}
#links .container-fluid div .words-in-links .ico-angle-double-right {
  margin-left: 6%;
}

/* footer */
#footer {
  padding: 3% 15%;
  text-align: center;
}
#footer .ico-footer {
  margin: 5px;
}
#footer .p-footer {
  font-size: 0.7rem;
  margin: 5px;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Media query breakpoints */
@media (max-width: 1000px) {
  #title {
    text-align: center;
  }
  #title .main-nav-menu {
    text-align: right;
  }
  #title .nav-underline .nav-link {
    padding-right: 10px;
  }
  #title .main-title-img-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  #title .main-title-img-container .main-img-title {
    order: 1;
  }
  #title .main-title-img-container .tittle-img {
    position: relative;
    width: 86%;
    z-index: 1;
    left: 5%;
  }
  #title .main-text-title {
    order: 2;
  }
  #title .main-circle-title-sec {
    left: 23%;
    bottom: 64%;
    height: 48%;
    width: 77%;
    z-index: 0;
  }
  #title .main-circle-title-sec-2 {
    position: absolute;
    right: 9%;
    top: 38%;
    height: 8%;
  }
  #title .main-circle-title-sec-3 {
    position: absolute;
    top: 19%;
    right: 63%;
    height: 55%;
    width: 35%;
  }
  #title .main-circle-title-sec-4 {
    right: 1%;
  }
  #title .main-circle-title-sec-5 {
    right: 25%;
    top: 61%;
    height: 10%;
    width: 6%;
  }
  #mySkills .container-fluid .container-fluid-skills {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  #mySkills .container-fluid .container-fluid-skills .skills-container-main-cards {
    order: 2;
  }
  #mySkills .container-fluid .container-fluid-skills .skills-container-main-text, #mySkills #myWorkingExperience .container-fluid .container-fluid-skills .row-container-workingExp .skills-container-main-text1, #myWorkingExperience #mySkills .container-fluid .container-fluid-skills .row-container-workingExp .skills-container-main-text1, #mySkills #myWorkingExperience .container-fluid .row-container-workingExp .container-fluid-skills .skills-container-main-text1, #myWorkingExperience #mySkills .container-fluid .row-container-workingExp .container-fluid-skills .skills-container-main-text1 {
    order: 1;
  }
}

/*# sourceMappingURL=styles.css.map */
