/* Title section */
#title {
    background-color: #EDF4F3;

    .container-fluid {
        padding: 3% 15% 7%;
    }
    .main-circle-title-proper{
        position: absolute;
        opacity: 0.6;
    }
    .main-circle-title-sec {
        @extend .main-circle-title-proper;
        bottom: 41%;
        left: 53%;
        height: 85%;
        width: 47%;
        
    }
    .main-circle-title-sec-2 {
        @extend .main-circle-title-proper;
        right: 1%;
        top: 52%;
        
    }
    .main-circle-title-sec-3 {
        @extend .main-circle-title-proper;
        right: 35%;
        top: 60%;
        height: 36%;
        width: 19%;
    }
    .main-circle-title-sec-4 {
        @extend .main-circle-title-proper;
        right: 0%;
        top: 55%;
        height: 30%;
        width: 27%;
    }
    .main-circle-title-sec-5 {
        @extend .main-circle-title-proper;
        right: 1%;
        top: 66%;
        height: 5%;
        width: 5%;
    }

    /* Navegation bar */
    nav {
        .navbar-brand {
            font-size: 50px;
            font-weight: bold;
            color: $mainPrimaryColor;
        }

        .text-secundary-color {
            color: $mainSecundaryColor;
        }
        .navbar-nav .nav-link.active,
        .navbar-nav .nav-link.show {
            border-bottom: 2px solid $mainSecundaryColor !important;
        }

        #navbarNav {
            padding-left: 50px;
        }
    }

    /* Title text*/
    .main-text-title {
        padding-top: 5%;

        .text-secundary-color {
            color: $mainSecundaryColor;
        }
        .h2-text-primary-color{
            font-size: 27px;
        }

        .p-main-title {
            padding: 16px 0;
            line-height: 26px;
        }

        .hire-title-button {
            margin: map-get($map: $mainButtonSecundaryColor, $key: margin);
            border-color: map-get($map: $mainButtonSecundaryColor, $key: border-color);
            background-color: map-get($map: $mainButtonSecundaryColor, $key: background-color);
            border-radius: map-get($map: $mainButtonSecundaryColor, $key: border-radius);
            box-shadow: map-get($map: $mainButtonSecundaryColor, $key: box-shadow);

            &:hover {
                background-color: $mainSecundaryColorCC;
                border-color: $mainSecundaryColorCC;
            }
        }

        .know-title-button {
            @extend .hire-title-button;
            color: map-get($map: $secButtonSecundaryColor, $key: color);
            background-color: white;

            &:hover {
                border-color: $mainSecundaryColorCC;
                color: $mainSecundaryColorCC;
                background-color: white;
            }
        }
    }

    /* Tittle IMG */
    div {
        .tittle-img {
            width: 26%;
            position: absolute;
            right: 17%;
            display: flex;

        }
        
    }
}