/* My Skills */
#mySkills {

    background-color: #fff;
    position: relative;
    z-index: 1;

    .container-fluid {
        padding: 3% 15% 3%;

        div {
            div {
                .my-skills-card {

                    scale: 0.7;
                    opacity: 0;
                    animation: fade-in linear forwards;
                    animation-timeline: view();
                    animation-range: entry;

                    text-align: center;
                    margin: 1%;
                    transition: all 1s;
                    color: $mainPrimaryColor;
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

                    &:hover {
                        background-color: $mainPrimaryColorCC;
                        color: white;
                    }
                }

                .ico-skills {
                    color: $mainPrimaryColor;
                }

                .card-margin-top {
                    margin: 40px 0;
                }

                .card-footer-max-text {
                    font-size: 20px;
                    font-weight: 900;
                }
            }

            .skills-container-main-text {
                padding: 7% 0 7% 7%;
                display: flex;
                justify-content: left;
                flex-direction: column;
            }

            .text-secundary-color {
                color: $mainSecundaryColor;
                font-size: 2rem;
            }

            .h2-descrp-text {
                font-size: 20px;
            }

            .p-main-title {
                padding: 10px 0 0;
                line-height: 26px;
            }

            .hire-title-button {
                margin: 5% 3% 5% 0;
                border-color: map-get($map: $mainButtonSecundaryColor, $key: border-color);
                background-color: map-get($map: $mainButtonSecundaryColor, $key: background-color);
                border-radius: map-get($map: $mainButtonSecundaryColor, $key: border-radius);
                box-shadow: map-get($map: $mainButtonSecundaryColor, $key: box-shadow);
                width: 150px;

                &:hover {
                    background-color: $mainSecundaryColorCC;
                    border-color: $mainSecundaryColorCC;
                }
            }

            .p-main-title-p {
                @extend .p-main-title;
                margin: 12% 0 0;

                .p-main-title-name {
                    font-family: $signatureFontFamily;
                    font-size: 35px;
                    padding: 10px 0 0;
                }

            }

        }

    }
}

/* My latest projects */
#projects {

    text-align: center;
    background-color: $mainSecundaryColor;
    color: #fff;

    .container-fluid {
        padding: 3% 15% 3%;

        div {
            .h2-main-title{
                margin-bottom: 20px;
            }
            .ele-feature-projects {
                padding: 0.6%;
                .projects-main-card {

                    scale: 0.7;
                    opacity: 0;
                    animation: fade-in linear forwards;
                    animation-timeline: view();
                    animation-range: entry;

                    padding: 7%;
                    box-shadow: map-get($map: $mainButtonSecundaryColor, $key: box-shadow);
                    background-color: #F9F9F9;

                    .h6-card-text {
                        padding-bottom: 5%;
                        font-size: 14px;
                    }

                    .p-card-text {
                        padding: 5% 0%;
                    }

                    .card-img-top-projects{
                        border-radius: 6px;
                    }

                    .btn-skills-set {
                        background: #FFFFFF;
                        border: 1px solid #D4D3D3;
                        border-radius: 25px;
                        font-size: 12px;
                        padding: 0.5% 5%;

                        &:hover {
                            background:  $mainPrimaryColor;
                            color: #FFFFFF;
                        }
                    }
                }
            }
        }

    }
}

/* My Customers */
#customer {
    @include aligment(center);
    background-color: #fff;
    color: $mainPrimaryColor;

    .container-fluid {
        padding: 3% 15% 7%;
        .h2-main-title{
            margin-bottom: 20px;
        }
        div{
            div{
                .card-img-top-customer{

                    scale: 0.7;
                    opacity: 0;
                    animation: fade-in linear forwards;
                    animation-timeline: view();
                    animation-range: entry;

                    filter: grayscale(100%);
                    width: 90%;
                    margin: 5%;
                }
            }
        }
    }
}

@keyframes fade-in {
    to {scale: 1; opacity: 1;};
}