/* My Skills */
#mySkills {

    background-color: #fff;
    position: relative;
    z-index: 1;

    .container-fluid {
        padding: 3% 15% 3%;

        div {
            div {
                .my-skills-card {
                    text-align: center;
                    margin: 1%;
                    transition: all 1s;
                    color: $mainPrimaryColor;
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                    &:hover {
                        background-color: $mainPrimaryColorCC;
                        color: white;
                    }
                }

                .ico-skills {
                    color: $mainPrimaryColor;
                }

                .card-margin-top {
                    margin: 40px 0;
                }
                .card-footer-max-text{
                    font-size: 20px;
                    font-weight: 900;
                }
            }

            .skills-container-main-text {
                padding: 7% 0 7% 7%;
            }

            .text-secundary-color {
                color: $mainSecundaryColor;
            }

            .h2-descrp-text {
                font-size: 20px;
            }

            .p-main-title {
                padding: 16px 0;
                line-height: 26px;
            }

            .hire-title-button {
                margin: map-get($map: $mainButtonSecundaryColor, $key: margin);
                border-color: map-get($map: $mainButtonSecundaryColor, $key: border-color);
                background-color: map-get($map: $mainButtonSecundaryColor, $key: background-color);
                border-radius: map-get($map: $mainButtonSecundaryColor, $key: border-radius);
                box-shadow: map-get($map: $mainButtonSecundaryColor, $key: box-shadow);

                &:hover {
                    background-color: $mainSecundaryColorCC;
                    border-color: $mainSecundaryColorCC;
                }
            }
        }

    }
}

/* My latest projects */
#projects {

    text-align: center;
    background-color: $mainSecundaryColor;
    color: #fff;

    .container-fluid {
        padding: 3% 15% 3%;
    }
}

/* My Customers */
#customer {
    @include aligment(center);
    background-color: #fff;
    color: $mainPrimaryColor;

    .container-fluid {
        padding: 3% 15% 7%;
    }
}