 /* Maps */

 $mainButtonSecundaryColor: (
     margin: 0% 3% 5% 0,
     border-color: $mainSecundaryColor,
     background-color: $mainSecundaryColor,
     border-radius: 5px,
     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px
 );

 $secButtonSecundaryColor: (
     margin: 0% 3% 5% 0,
     border-color: $mainSecundaryColor,
     color: $mainSecundaryColor,
     border-radius: 5px,
     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px
 );